body {
    font-family: 'Poppins', sans-serif;

    text-align: center;

}

#bodysection {

    margin-left: 10.378vw;
    margin-right: 10.378vw;
    margin-top: 3.706vw;


}

.topplayersection {

    background-color: black;
    display: flex;
    border: 1px;
    border-radius: 2.224vw;





}

.topplayersection button {

    padding: 16px 25px;
    background: #DD0000;
    color: white;
    border-radius: 5px;

}

.introduction {

    color: white;
    width: 50%;
    margin-left: 7.858vw;
    margin-top: 8.228vw;
    margin-bottom: 8.228vw;
    margin-right: 1.779vw;
}


.singleplayer {

    width: 50%;
    margin-right: 5.856vw;
    margin-top: 2.446vw;
}

.singleplayer img {

    width: 100%;
    height: 100%;
}

.middlepart {

    margin-top: 9.637vw;
    display: grid;
    grid-template-columns: 312px repeat(1, 1fr);
    column-gap: 24px;
}

.upcomingmatch {
    height: 312px;
    padding: 30px;
    background-color: black;
    border-radius: 10px;

}

.upcomingmatch button {

    padding: 20px 60px;
    width: 252px;
    height: 64px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-weight: 600;


}

.inactive {
    background-color: white;

}

.active {

    background-color: #DD0000;
    color: white;
}

.players {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;


}

.single {

    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 5px;
}

.single button {

    width: 100px;
    height: 32px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;


}


.hidebutton {

    width: 100px;
    height: 32px;
    font-weight: 700;
    border: 0px;
    border-radius: 5px;
    background-color: red;
    color: white;
    visibility: hidden;

}

.singleloweruit {

    margin: 10px;

}


.singlefootballer {
    width: 100%;


}

.icons {

    display: flex;

}

.time {

    display: flex;
}

.chat {
    display: flex;
}

.space {

    margin-right: 15px;
}

footer {

    background-color: black;
    color: white;
    font-weight: 700;
    padding: 100px;
}

.upperfooter {}

.Lowerfooter {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.Lowerfooter a {

    text-decoration: none;
    color: white;
}

hr {

    border-top: 1px solid white;
    border-bottom: 0px;
}

@media only screen and (max-width:576px) {

    .topplayersection {

        background-color: black;
        display: flex;
        flex-direction: column;


    }


    .introduction {

        color: white;
        width: 80%;
        margin-left: 30px;
        margin-right: 10px;


    }


    .singleplayer {

        width: 80%;

        margin-left: 30px;
        margin-right: 10px;

    }

    .middlepart {

        display: flex;
        flex-direction: column;
    }

    .players {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
    }

    footer {

        padding: 10px;
    }

    .Lowerfooter {

        margin-top: 20px;
    }


    .Lowerfooter {

        display: flex;
        flex-direction: column;
    }

}


@media screen and (min-width: 577px) and (max-width: 920px) {


    .middlepart {
        display: flex;
        flex-direction: column;
    }

    .upcomingmatch {
        display: flex;

    }

    .players {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }


    .upcomingmatch {

        height: 50px;
        padding: 0px;
        margin-bottom: 30px;
        background-color: white;




    }

    .upcomingmatch button {
        border-radius: 10px;
        border: 1px solid #E8E8E8;
    }


    .upcomingmatch button {

        padding: 20px 50px;
        width: 200px;
        height: 64px;
        margin: 5px;
        border-radius: 10px;
        font-weight: 600;


    }

    .hidebutton {

        visibility: visible;

    }




}